src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.Extensions.Msal.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/Azure.Security.KeyVault.Secrets.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/Azure.Identity.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/Azure.Core.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/appsettings.json
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/appsettings.Development.json
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/api_kv_demo.runtimeconfig.json
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/api_kv_demo.runtimeconfig.dev.json
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/api_kv_demo.pdb
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/api_kv_demo.exe
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/api_kv_demo.dll
src/pod_identity/csharp/api_kv_demo/bin/Debug/netcoreapp3.1/api_kv_demo.deps.json
src/pod_identity/csharp/api_kv_demo/bin/*
src/pod_identity/csharp/api_kv_demo/obj/*
src/pod_identity/csharp/api_kv_demo/debug/*
.vscode/tasks.json
.vscode/launch.json
src/pod_identity/csharp/api_kv_demo/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
